$upper-header-bg: #003d29;
$white-color: #fff;
$heading-color: #231f1e;
$misty-rose: #f9dcdc;
$primary-color: #003d29;
$white-smoke: #f5f6f6;
$linen: #f2e4d9;
$light-cyan: #d2f7ec;
$banner-bg:#ffe6cc;
$text-color: #333;
$card-color: #cb9917;
$card2-color: #961f1f;
$card3-color: #94623c;
$card4-color: #d2f7ec;
$black-color: #000;
$link-hover: rgb(247, 96, 96);
$footer-link: #0e0f18;
$green-color: green;